{% extends "portfolio_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}



<body class="m-5">
  <div class = "pagestuff">
    <div class="container">
        <div class="row">
          <div class="col-md-3">

            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <form method="GET" id="searchForm">
                        {{ myFilter.form|crispy }}
                        <input class="btn btn-primary" type="submit" value="search">
                      </form>
                    </li>
                </ul>
              </div>

          </div>
          <div class="col-md-9">
            <div class="row">

              {% for photo in photos %}
                <div class="col-md-4">
                    <div class="card my-2">
                        <img class="image-thumbnail" src="{{ photo.image.url }}" alt="Card image cap">
                        <div class="card-body">
                          <small>Category: {{ photo.category.name }}</small>
                        </div>
                        <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm m-2">View</a>
                    </div>
                  </div>
              {% empty %}
                  <h3>No photos...</h3>
              {% endfor %}
            </div>
            <div class="row">
		
              {% if photos.has_other_pages %}
          
                <ul class="pagination">
          
                  {% if photos.has_previous %}
                    <li class="page-item"><a data-page="{{photos.previous_page_number}}" href="?page={{photos.previous_page_number}}" class="page-link">&laquo</a></li>
          
                    <li class="page-item"><a data-page="1" href="?page=1" class="page-link">First</a></li>
                  {% endif %}
          
          
                  {% for i in photos.paginator.page_range %}
                    {% if photos.number == i %}
                      <li class="page-item"><a class="active page-link">{{i}}</a></li>
                    {% else %}
                      <li class="page-item"><a data-page="{{i}}" href="?page={{i}}" class="page-link">{{i}}</a></li>
                    {% endif %}
                    
                  {% endfor %}
          
          
                  {% if photos.has_next %}
                    <li class="page-item"><a data-page="{{photos.paginator.num_pages}}" href="?page={{photos.paginator.num_pages}}" class="page-link">Last</a></li>
          
                    <li class="page-item"><a data-page="{{photos.next_page_number}}" href="?page={{photos.next_page_number}}" class="page-link">&raquo</a></li>
                  {% endif %}
                </ul>
          
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript">
        let searchCategory = document.getElementById('searchForm')
        let pageLinks = document.getElementsByClassName('page-link')
      
        for(var i=0; pageLinks.length > i; i++){
      
          pageLinks[i].addEventListener('click', function(e){
            e.preventDefault()
            let page = this.dataset.page
            console.log('Page:', page)
            searchCategory.innerHTML += `<input value="${page}" name="page" hidden >`
            searchCategory.submit()
          })
      
        }
      </script>

    </div>
</body>
{% endblock content %}